/* Specific styles */
body {
    color: white;
}


/* Reusable styles */
.dark-bg {
    background: black;
}

.full-size {
    height: 100%;
    width: 100%;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}