/* Specific styles */
:root {
    --primary-color: #95B085;
    --accent-color: #E7E4DB;
}

a {
    text-decoration: none;
}

a:link {
    color: var(--accent-color);
}

a:visited {
    color: var(--accent-color);
}

a:hover {
    color: black;
}

a:active {
    color: black;
}


.profile-picture {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
}

#more {
    display: none;
}

body {
    background: var(--primary-color);
}

/* Reusable styles */

.i-color {
    font-size: 2rem;
    color: var(--accent-color);
}

.i-footer-color {
    color: var(--accent-color);
}

.border-radius {
    border-radius: 10%;
}

.skill-size {
    height: 4rem;
    width: 4rem;
}

.bg-custom {
    background: #4f4f4f;
}


