/* Specific styles */
:root {
    --primary-color: #95B085;
    --accent-color: #E7E4DB;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}


.profile-picture {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
}

#more {
    display: none;
}


body {
    background: var(--primary-color);
}

.quote-square {
    width: 17rem;
    height: 17rem;
    background: #FFFF;
    border-radius: 20%;
}

#shade:hover {
    box-shadow: 5px 10px #4f4f4f;
}

.showcase {
    height: 20rem;
}

/* Reusable styles */

.accent-color {
    font-size: 2.5rem;
    color: var(--accent-color);
}

.border-radius {
    border-radius: 10%;
}

.skill-size {
    height: 4rem;
    width: 4rem;
}

.bg-accent {
    background: var(--accent-color);
}

.bg-white {
    background: #FFFF;
}

.rounded-corners {
    border-radius: 20px;
}

.green-space {
    background: var(--primary-color);
    height: 4rem;
}